* {
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  background: #16161a;
  color: #fffffe;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 70vw;
}

.slider .wrapper {
  overflow: hidden;
  border-radius: 1.2vw;
  width: 70vw;
  height: 40vw;
}

.slider .wrapper .content {
  display: inline-flex;
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

input[type='radio'] {
  all: unset;
}

.slider .wrapper .content img {
  margin: 0;
  width: 70vw;
  height: 40vw;
  object-fit: cover;
}

#switch1:checked ~ .slider .wrapper .content {
  margin-left: 0;
}

#switch2:checked ~ .slider .wrapper .content {
  margin-left: -70vw;
}

#switch3:checked ~ .slider .wrapper .content {
  margin-left: -140vw;
}

#switch4:checked ~ .slider .wrapper .content {
  margin-left: -210vw;
}

#smth:checked ~ body {
  background: red;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.2rem solid #7f5af0;
  transition: 0.3s;
}

label:hover .circle {
  cursor: pointer;
  background-color: #fffffe;
  border-color: #fffffe;
}

.desc-wrapper {
  margin-top: 1rem;
  display: flex;
}

.desc {
  width: 60%;
  overflow: hidden;
}

.text-wrapper {
  width: 400%;
  display: flex;
}

.desc .text-wrapper .text {
  width: 25%;
  margin: 0;
  font-size: 1rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  width: 40%;
  display: inline-flex;
  gap: 0.5rem;
}

#switch1:checked ~ .slider .desc .text-wrapper {
  margin-left: 0;
}

#switch2:checked ~ .slider .desc .text-wrapper {
  margin-left: -100%;
}

#switch3:checked ~ .slider .desc .text-wrapper {
  margin-left: -200%;
}

#switch4:checked ~ .slider .desc .text-wrapper {
  margin-left: -300%;
}

#switch1:checked ~ .slider label[for='switch1'] .circle {
  cursor: default;
  background: #2cb67d;
  border: #2cb67d;
}

#switch2:checked ~ .slider label[for='switch2'] .circle {
  cursor: default;
  background: #2cb67d;
  border: #2cb67d;
}

#switch3:checked ~ .slider label[for='switch3'] .circle {
  border: #2cb67d;
  cursor: default;
  background: #2cb67d;
}

#switch4:checked ~ .slider label[for='switch4'] .circle {
  cursor: default;
  background: #2cb67d;
  border: #2cb67d;
}
