* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #16161a;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .content {
  width: 50rem;
  height: 30rem;
  border-radius: 0.5rem;
  background: #7f5af0;
}
